.about {
    // border: 3px solid red;
    width: 100%;
    padding: 5vh 5vw;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    @include md {
        flex-direction: row;
        margin: 10vh auto 5vh;
        gap: 1rem;
    }
    .about-item {
        // border: 1px solid red;
        transition: .25s;

        figure {
            margin-bottom: .25rem;
            i {
                font-size: 2rem;
                opacity: 1;
                color: $brand;
            }
        }

        h3 {
            text-transform: capitalize;
            margin-bottom: .25rem;

        }

        &:hover {
            transform: scale(1.015);
        }
    }
}