.about {
    // border: 3px solid red;
    width: 100%;
    padding: 5vh 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
    @include md {
        flex-direction: row;
        justify-content: center;
        // margin: 10vh 5vw 5vh;
        margin: 0vh auto 10vh;
        // gap: 1rem;
        padding: 0vh 10vw 5vh; 
    }
    .about-item {
        // border: 1px solid red;
        border-radius: .25rem;
        transition: .25s;
        padding: .5rem;
        @include md {
            padding: 15vh 0 5vh;
        }
        figure {
            margin-bottom: .25rem;
            i {
                font-size: 2rem;
                opacity: 1;
                color: $brand;
            }
        }

        h3 {
            text-transform: capitalize;
            margin-bottom: .25rem;
        }

        &:hover {
            transform: scale(1.015);
            box-shadow: 1px 3px 3px rgba(0, 0, 0, .150);
            figure {
                i {
                    color: #000;
                    transition: .5s;
                }
            }
        }
        // IO CLASSES
        &.io-item {
            figure {
                transform: translateY(-1rem);
                opacity: 0;
                transition: 1s;
            }
            h3 {
                transform: translateX(1rem);
                opacity: 0;
                transition: 1s;
            }
            p {
                opacity: 0;
                transform: translateY(.5rem);
                transition: 1s;
            }
        }
        &.active-item {
            figure {
                transform: translateY(0);
                opacity: 1;
            }
            h3 {
                transform: translateX(0);
                opacity: 1;
                transition-delay: .25s;
            }
            p {
                opacity: 1;
                transform: translateY(0);
                transition-delay: .5s;
            }
        }
    }
}

.tilt {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    // border: 2px solid red;
}

.tilt svg {
    position: relative;
    display: block;
    width: calc(127% + 1.3px);
    height: 109px;
}

.tilt .shape-fill {
    fill: $brand;
}