@import 'mixin';
header {
    // border: 1px solid red;
    position: fixed;
    top: 0;
    background: $header-bg;
    height: 7vh;
    width: 100%;
    margin: 0;
    z-index: 10;
    padding: 0 5vw;
    @include md {
        height: 8vh;
        padding: 0 10vw;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .25s;

    .logo {
        // background: #000;
        // border: $border-dark-sm;
        // padding: 0 .5rem;
        overflow: hidden;
        width: 7rem;
        width: max-content;
        transition: 1s;
        text-align: left;
        @include md {
            // width: 10rem;
            text-align: left;
        }
        a {
            color: $span-gold;
            color: $text-dark;
            text-transform: capitalize;
            font-size: 1.05rem;
            text-decoration: none;
            letter-spacing: .5rem;
            // font-family: $font-title;
            span{
                color: $text-light;
                // font-family: $font-title;
            }
            @include md {
                font-size: 1.5rem;
            }
        }

    }

    // MOBILE ASIDE
    aside {
        @include lg {
            display: none;
        }

        position: absolute;
        // background-color: $overlay-blue-darker;
        background: $aside-bg;
        width: 100%;
        height: 100vh;
        top: 7vh;
        left: 0;
        transform: translateX(100vw);
        // border: 2px solid red;
        overflow: hidden;
        padding: 5vh 0;
        transition: .5s;

        ul {
            // border: 1px solid red;
            padding: 5vh 1rem;
            width: 90%;

            li {
                // border-bottom: $border-brand-sm;
                // border-radius: $border-radius-sm;
                display: flex;
                // height: 100%;
                transform: translateX(5rem);
                transition: 1s;
                padding-bottom: .25rem;
                padding-right: 1rem;
                margin-bottom: .5rem;
                opacity: 0;
                // border: 1px solid green;

                a {
                    text-transform: capitalize;
                    color: #f4f4f4;
                    padding: .5rem;
                    text-decoration: none;
                    // border: 1px solid red;
                    width: 100%;
                    // display

                    i {
                        float: right;
                        margin: 0 auto;
                        color: $brand;
                        // border: 1px solid yellow;
                        // width: 2rem;
                    }
                }

                &.aside-dropdown {
                    // border: 1px solid blue;
                    border: none;
                    border-bottom: 1px solid #fff7;
                    // padding: 0 0 0rem 0;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    overflow: hidden;
                    transition: 1s;

                    button {
                        text-transform: capitalize;
                        font-family: $font-content;
                        color: $text-light;
                        font-size: 1rem;
                        background: transparent;
                        border: none;
                        display: flex;
                        justify-content: flex-start;
                        justify-content:space-between;
                        align-items: center;
                        float: left;
                        width: 100%;
                        padding: .5rem;

                        i {
                            // width: 3rem;
                            // border: 1px solid yellow;
                            transition: .25s;
                            // color: $brand;
                        }
                    }

                    .dropdown-content {
                        height: 0vh;
                        transition: .5s;
                        display: flex;
                        flex-direction: column;
                        gap: .5rem;
                        padding: 1rem .5rem .25rem;

                        a {
                            text-transform: capitalize;
                            text-decoration: none;
                            color: $text-light;
                            margin-left: 1rem;
                            padding: .5rem  .25rem;
                            border-radius: $border-radius-sm;
                            opacity: 0;
                            transform: translateX(1rem);
                            transition: .5s;
                        }
                    }

                    &:hover {
                        border-color: #fff3;
                        border-radius: 0;
                        border-radius: $border-radius-sm;
                        transition: border .5s;
                        button {
                            color: $brand;
                            i {
                                opacity: .5;
                                transform: rotate(180deg);
                            }
                        }
                        .dropdown-content {
                            height: 35vh;

                            a {
                                opacity: 1;
                                transform: translateX(0);
                                &:nth-child(1){
                                    transition-delay: .15s;
                                }
                                &:nth-child(2){
                                    transition-delay: .2s;
                                }
                                &:nth-child(3){
                                    transition-delay: .25s;
                                }
                                &:nth-child(4){
                                    transition-delay: .3s;
                                }
                                &:nth-child(5){
                                    transition-delay: .35s;
                                }
                            }
                        }
                    }
                }
            }
        }
        .contact-links {
            // border: 2px solid yellow;
            display: flex;
            flex-direction: column;
            padding-left: 1rem;
            gap: 1.5rem;

            a {
                font-size: 1rem;
                text-decoration: none;
                letter-spacing: .025rem;
                color: $text-light;
                opacity: 0;
                transition: 1s;
                
                i {
                    // padding-right: .5rem;
                color: $brand;
                    width: 1.5rem;
                    font-size: 1.25em;
                    padding-bottom: .25rem;
                    transform: translateX(-1rem);
                    // opacity: 0;
                    transition: .5s;
                    display: block;
                }
            }
        }
        // ACTIVE ASIDE
        &.active {
            // left: 5vw;
            transform: translateX(5vw);

            ul {
                li {
                    transform: translateX(0);
                    opacity: 1;
                    &:nth-child(1) {
                        transition-delay: .25s;
                    }
                    &:nth-child(2) {
                        transition-delay: .3s;
                    }
                    &:nth-child(3) {
                        transition-delay: .35s;
                    }
                    // LINK BACKGROUND AFTER TRANSITION TIMING
                    a {
                        &::after {
                            transition: .25s;
                        }

                        // LINK HOVER 
                        &:hover {
                            background-color: #fff1;
                            transition: .25s;
                        }
                    }

                    &::after {
                        transform: translateX(0);
                        opacity: 1;
                    }

                    &:nth-child(1) {
                        &::after {
                            transition-delay: .25s;
                        }
                    }

                    &:nth-child(2) {
                        &::after {
                            transition-delay: .3s;
                        }
                    }

                    &:nth-child(3) {
                        &::after {
                            transition-delay: .35s;
                        }
                    }

                    &:nth-child(4) {
                        &::after {
                            transition-delay: .4s;
                        }
                    }

                }
                }

            .contact-links {
                a {
                    opacity: 1;
                    i {
                        opacity: 1;
                        transform: translateX(0);
                    }
                    // TRANSITION DELAYS
                    &:nth-child(1){
                        transition-delay: .5s;
                        i {
                        transition-delay: .55s;
                        }
                    }
                    &:nth-child(2){
                        transition-delay: .7s;
                        i {
                        transition-delay: .75s;
                        }
                    }
                    &:nth-child(3){
                        transition-delay: .9s;
                        i {
                        transition-delay: .95s;
                        }
                    }
                    // LINK HOVER
                    &:hover {
                        transition: .25s;
                        i {
                            transform: scale(1.1);
                            transition: .25s;
                        }
                    }
                }
            }
        }
    }
    // DESKTOP NAVBAR
    .navbar {
        @media (max-width: 819px){
            display: none;
        }

        ul {
            // border: 1px solid yellow;
            border-radius: $border-radius-sm;
            display: flex;
            justify-content: space-evenly;
            gap: 1rem;
            list-style: none;
            padding: .25rem .5rem;

            li {
                text-transform: capitalize;

                a {
                    font-family: $font-title;
                    // opacity: .7;
                    letter-spacing: .025rem;
                    color: $text-dark;
                    text-decoration: none;
                    transition: .25s;
                    position: relative;

                    // PSEUDO UNDERLINE
                    &::after {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        width: 25%;
                        opacity: 0;
                        height: .1rem;
                        background-color: $brand;
                        transform: translateX(-50%);
                        transition: .25s;
                    }

                    &:hover {
                        color: $span-gold;
                        opacity: 1;
                        &::after {
                            width: 70%;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    
    .header-cta {
        // border: 2px solid $overlay-blue-dark;
        transform: translateY(0);
        transition: .5s;
        // background: $brand-dark;
        // border-radius: $border-radius-sm;
        // border: $border-dark-sm;
        text-align: center;
        transform: translateY(-10vh);
        transition: .5s;
        a {
            width: 100%;
            height: 100%;
            // padding: .5rem 1rem;
            text-transform: capitalize;
            color: $text-dark;
            text-decoration: none;
            // border-radius: $border-radius-sm;
            font-weight: 500;
            border: $border-dark-sm;
            // letter-spacing: .025rem;

            i {
                // padding-left: .5rem;
                padding: .25rem 1rem;
                // opacity: .8;
            }
        }
        @media (max-width: 820px){
            // display: none;
            position: absolute;
            right: 25vw;
            padding: 0;
            // background: $btn-overlay-light;
            a {
                // padding: .25rem .5rem;
                width: 100%;
                font-size: 1rem;
                // color: $text-light;
            }
        }
        // HOVER AND ACTIVE STATE
            &:hover {
                // transform: scale(.98);
                transition: .25s;
                a {
                background: #000;
                    letter-spacing: normal;
                    transition: .25s;

                    i {
                transition: .25s;
                color: $text-light;
                    }
                }
            }
        
        &.active-cta {
            transform: translateY(0);
        }
    }



    // ASIDE ACTIVE HEADER
    &.aside-header {
        background: $active-aside;
        .logo {
            transform: translateY(0);
        }
        .hamburger {
            // border: 2px solid $active-toggle;

        }
    }
    // INTERSECTION CLASSES
    &.hero-header {
        // background: transparent;
        // background: #000;
        .logo {
            // border: $border-light-sm;
        }
    } 
}