.hero {
    // border: 1px solid red;
    width: 100%;
    height: 100vh;
    padding: 10vh 5vw;
    overflow: hidden;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
    @include lg {
        justify-content: space-between;
    }

    .slogan {
        // border: 1px solid red;
        width: 100%;
        // text-align: center;

        h1 {
            text-transform: capitalize;
            font-size: 2rem;
            @include lg {
                font-size: 2.5rem;
            }
        }

        p {
            margin: .5rem 0 1rem;
            text-transform: uppercase;
        }
    }

    figure {
        // border: 1px solid #0005;
        width: 70%;
        height: auto;
        overflow: hidden;
        box-shadow: -3px 3px 3px rgba(0, 0, 0, .25);
        border-radius: 50%;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            // border: 2px solid blue;
        }
        @include lg {
            // border: 2px solid $brand;
            height: 70%;
            width: 50%;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }

    @include lg {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 5vh 10vw;
    }
}