.hero {
    // border: 1px solid red;
    width: 100%;
    height: 100vh;
    padding: 10vh 5vw;
    // overflow: hidden;
    // display: flex;
    // flex-direction: column-reverse;
    // justify-content: space-evenly;
    // align-items: center;
    // background: linear-gradient(90deg, #fff, transparent);
    background: linear-gradient(0deg, transparent 45%, #fff 55%);
    // background: linear-gradient(0deg, #fff000 60%, #000 80%);
    // background: #fff8;
    // background: conic-gradient(transparent, #fff7, #fff7, #fff);
    position: relative;
    isolation: isolate;
    @include md {
    background: linear-gradient(130deg, #fff 40%, transparent 60%);
}
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('../img/hero.jpg');
        background-image: url('../img/holden-baxter-oxQ0egaQMfU-unsplash.jpg');
        background-image: url('https://images.unsplash.com/photo-1656491367122-8f6e1074a309?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80');
        background-image: url('../img/isaac-martin-B4Ba0vc-vYY-unsplash.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        mix-blend-mode: overlay;
        z-index: -1;
        opacity: .9;
        @include lg {
        background-attachment: fixed;
        background-image: url('https://images.unsplash.com/photo-1562859858-d49a4c273af5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=868&q=80');
        background-image: url('../img/jesse-bowser-c0I4ahyGIkA-unsplash.jpg');

        }
    }
    @include lg {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        align-items: center;
        justify-content: space-between;
    }

    .slogan {
        // border: 1px solid red;
        width: 100%;
        // text-align: center;
        // position: sticky;
        // top: 15vh;
        position: relative;
        top: 5vh;
        // background: hsla(0, 0%, 100%, .5);
        text-transform: capitalize;
        @include md {
            top: 5vh;
            background: none;
        }
        
        h1 {
            // text-shadow: 1px 1px 2px #fff;
            font-size: 1.5rem;
            line-height: 1.5;
            @include lg {
                font-size: 2.5rem;
            }
        }

        h2 {
            color: $brand;
            margin: 1rem 0 .5rem;
            text-transform: uppercase;
            font-size: 1.05rem;
            // text-shadow: 1px 1px 1px #fff;
        }

        p {
            margin-bottom: 1rem;
        }

        .cta {
            .btn {
                font-size: 1.15rem;
            }
        }
    }

    figure {
        display: none;
        // border: 1px solid #0005;
        width: 70%;
        height: auto;
        overflow: hidden;
        box-shadow: -3px 5px 3px rgba(0, 0, 0, .15);
        border-radius: 50%;
        transition: all .25s;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            // border: 2px solid blue;
        }
        @media (max-width: 820px) {
            display: none;
        }
        &:hover {
            transform: scale(.98);
            box-shadow: -0px 3px 1px rgba(0, 0, 0, .35);        
        }
    }

    @include lg {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 5vh 10vw;
    }
}