@import 'mixin';

.menu {
    @include lg {
        display: none;
    }
    border: 1px solid #0003;
    // border-radius: $border-radius-sm;
    background: $background-secondary;
    // height: auto;
    width: 4rem;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: .25s;
    .aside-menu {
        text-transform: uppercase;
        padding: .25rem;
        letter-spacing: .05rem;
        font-size: .85rem;
        font-weight: 500;
        transition: .25s;
        color: $text-dark;
    }
    // ACTIVE CLASS
    &.active {
        transform: scale(.95);
        background: $btn-overlay;
        .aside-menu {
            letter-spacing: normal;
            color: $text-light;
        }
    }
}
// hamburger toggle
.hamburger {
    @include lg {
        display: none;
    }
    border: 2px solid #fff;
    border: none;
    height: 1.25rem;
    width: 1.25rem;
    display: grid;
    place-items: center;
    cursor: pointer;

    .bar {
        height: .125rem;
        width: 100%;
        background: $brand;
        border-radius: $border-radius-sm;
        position: relative;
        border: none;
        transition: .25s;
        
        &::before, &::after {
            content: '';
            position: absolute;
            left: 0;
        background: #000;
            height: 100%;
            width: 100%;
            border-radius: $border-radius-sm;
            transition: .25s;
            z-index: -1;
        }
        &::before {
            transform: translateY(-.4rem);
        }
        &::after {
            transform: translateY(.4rem);
        }
    }

    // ACTIVE CLASS
    &.active {
        .bar {
            // background: $span-gold;
            transform: translateX(-.25rem);
            &::before {
                transform: translateY(-.4rem) translateX(.25rem);
            }
            &::after {
                transform: translateY(.4rem) translateX(-.25rem);
            }
        }
    }
}
.btn {
    display: flex;
    position: relative;
    width: 11rem;
    padding: 1rem;
    color: $text-light;
    font-size: 1.05rem;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: .05rem;
    transition: .25s;
    isolation: isolate;
    border: .125rem solid transparent;
    // border-radius: $border-radius-sm;

    


    &::before, &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: .25s;
        // border-radius: $border-radius-sm;
        z-index: -1;
    }
    &::before {
        background: $btn-overlay;
    }
    &::after {
        background: $btn-overlay-hover;
        opacity: 0;
        // border: $border-light-md;
    }

    @media (max-width: 820px){
        &:active {
            transform: scale(.98);
            letter-spacing: normal;
            &::before {opacity: 0;}
            &::after {opacity: 1;}
        }
    }
    @media (min-width: 820px){
        &:hover {
            transform: scale(.98);
            letter-spacing: normal;
            &::before {opacity: 0;}
            &::after {opacity: 1;}

            i {
                &::before, &::after {
                    animation: none;
                    color: #fff;
                }
            }
        }
    }

    
}
// ICON 
.cta-i {
    &::before, &::after {
        position: absolute;
        color: $text-light;
        opacity: 1;
        top: 50%;
        font-size: 1rem;
        transform: translateY(-50%);
        right: 1rem;
        transition: .25s;
    }
    &::before {
        content: '\f101';
        font-family: "Font Awesome 6 Free";
        // opacity: 0;
        animation: arrow 1.5s infinite;
    }
    &::after {
        content: '\f105';
        font-family: "Font Awesome 6 Free";
        // opacity: .5;
        animation: arrow-2 1.5s infinite;
    }

    @keyframes arrow {
        
        50% {
            transform: translateY(-50%) translateX(.15rem);
            opacity: 0;
        }
    }
    @keyframes arrow-2 {
        50% {
            opacity: 1;
            color: #fff;
        }
    }
}

// BACK HOME BTN
.home-button {
    border: 2px solid $overlay-blue-dark;
    border: 2px solid #fff;
    position: fixed;
    bottom: 5vh;
    right: 5vw;
    display: grid;
    place-items: center;
    background: $overlay-blue-dark;
    background: #000a;
    border-radius: $border-radius-xsm;
    transform: translateY(15vh);
    transition: 1s;

    .top-btn {
        color: $brand;
        font-size: 1.05rem;
        padding: .25rem .5rem;
        transition: .25s;
    }

    @media (max-width: 820px) {
        &:active {
            background: #000;
            transition: .25s;
            .top-btn {
                transform: scale(.9);
            }
        }
    }
    @media (min-width: 820px) {
        &:hover {
            background: #000;
            transition: .25s;
            .top-btn {
                transform: scale(.9);
            }
        }
    }
    &.active {
        transform: translateY(0);
    }
}

// BOTTOM NAV
.footer-nav {
    position: fixed;
    z-index: 5;
    bottom: 0;
    // height: 7vh;
    height: auto;
    width: 100%;
    // border: 2px solid green;
    padding: .5rem 5vw;
    // padding: .5rem 0;
    background: $footer-nav;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: .5rem;
    transform: translateY(8vh);
    transition: .5s;
    .item {
        // border: $border-brand-md;
        width: 100%;
        a {
            transition: 1s;
            text-transform: capitalize;
            text-decoration: none;
            font-size: .75rem;
            color: #f4f4f4;
            display: grid;
            place-items: center;
            i {
                font-size: 1.05rem;
                color: #fff;
                opacity: .8;
                transition: 1s;
            }
        }
        @include md {
            a {
                i {
                    font-size: 1rem;
                }
            }
        }

        @media (min-width: 820px) {
            &:hover {
                a {
                    i {
                        opacity: 1;
                        transition: .2s;
                    }
                }
            }
        }
        @media (max-width: 820px) {
            &:active {
                a {
                    i {
                        opacity: 1;
                        transition: .2s;
                    }
                }
            }
        }
    }
    // DESKTOP NAV STYLE
    @include md {
        padding: .5rem 5vw;
    }
    // FOOTER NAV IO
    &.active-footer {
        transform: translateY(0);
    }
}

// SKIP LINK
.skip-link {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: .5rem 5vw;
    background: #000;
    color: $text-light;
    z-index: 99;
    text-align: center;
    text-transform: capitalize;
    transform: translateY(-10vh);
    transition: .5s;

    &:focus-visible {
        transform: translateY(0);
    }
}

.pad-logo {
    // border: 2px solid red;
    width: 100%;
    // height: 100vh;
    padding: 10vh 5vw;
    display: grid;
    place-items: center;
    @include md {
        height: 100vh;
        padding: 5vh 10vw;
        background-image: url(../img/ftt-logo.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        background-attachment: fixed;
        background-position: center;
    }
    img {
        width: 70%;
        height: auto;
        // border: 2px solid blue;
        border-radius: 50%;
        @include md {
            display: none;
        }
    }

    &.io-item {
        img {
            transform: scale(1.5);
            opacity: 0;
            transition: 1.5s;
        }
    }
    &.active-item {
        img {
            opacity: 1;
            transform: scale(1);
        }
    }
}

.showcase {
    // border: 2px solid blue;
    // height: 100vh;
    width: 100%;
    padding: 10vh 5vw 5vh;
    // background-color: red;
    @include md {
    padding: 10vh 10vw 5vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    }

    .showcase-content {
        margin-bottom: 5vh;
        overflow: hidden;
        h2 {
            text-transform: capitalize;
            color: $brand;
            font-weight: 500;
            font-size: 1.5rem;
        }
        @include md {
            padding: .5rem;
            background: #f4f4f4;
            h2 {
                font-size: 2.5rem;
                padding: 1rem;
            }
        }

        &.io-item {
            h2 {
                opacity: 0;
                letter-spacing: .08rem;
                transition: 1.5s;
            }
        }
        &.active-item {
            h2 {
                opacity: 1;
                letter-spacing: normal;
            }
        }
    }
    .showcase-img {
        width: 100%;
        height: auto;
        overflow: hidden;
        // border: 1px solid red;
        @include md {
            width: 50%;
        }

        img {
            width: 100%;
            height: 100%;
        }

        &.io-item {
            img {
                transform: scale(1.5);
                opacity: 0;
                transition: 1.5s;
            }
        }
        &.active-item {
            img {
                transform: scale(1);
                opacity: 1;
            }
        }
    }
}
